.header {
    padding: 20px 0;
    background-color: var(--black);
    color: var(--white);
    letter-spacing: normal;
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    width: 28%;
    text-align: left;
}

.logo {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.logo:hover {
    color: var(--accent)
}

@media (max-width: 1024px) {
    .logo-wrapper {
        width: auto;
    }

    .header-wrapper {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 20px 0;
    }

    .header-wrapper {
        flex-direction: column;
        row-gap: 10px;
    }

    .logo {
        margin: 0 auto;
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .logo {
        font-size: 22px;
    }
}
