.nav {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.wrapper {
    width: 44%;
}

.nav-item {
    transition: all 0.3s ease;
    box-sizing: content-box;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    color: var(--accent);
    border-color: var(--accent);
}

@media (max-width: 1024px) {
    .wrapper {
        width: auto;
    }
}
