.footer {
  margin-top: auto;
  padding: 60px 0;
  background-color: var(--black);
  color: var(--white);
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 27px;
}

.location-wrapper {
  display: flex;
  align-items: center;
}

.location-label {
  margin-right: 10px;
}

.location-icon {
  font-size: 20px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .footer {
    padding: 30px 0;
  }

  .footer-wrapper {
    display: block;
    text-align: center;
  }

  .location-wrapper {
    margin-bottom: 10px;
    justify-content: center;
  }
}
